In [4]:
# import packages
import numpy as np
import pandas as pd
import matplotlib
%matplotlib inline
import sqlite3
from pandas.io import sql

In [2]:
data=pd.read_csv('./datasets/subscribers_list.csv')

In [14]:
data['year'] = pd.DatetimeIndex(data['DateAddedToList']).year
data['month'] = pd.DatetimeIndex(data['DateAddedToList']).month
data['day'] = pd.DatetimeIndex(data['DateAddedToList']).day

In [23]:
# Establishing Local DB connection
db_connection = sqlite3.connect('./panalysis.db.sqlite')

# # Reading out DataFrames as SQL Table
data.to_sql(name = 'data', con = db_connection, if_exists = 'replace', index = False)

In [24]:
def Q(query,db=db_connection):
    return sql.read_sql(query,db)

In [25]:
q1='''
select * from data
limit 2
'''
Q(q1,db=db_connection)

,DateAddedToList,SubscriberID,ListID,CurrentStatus,year,month,day
0,10/04/2014 15:44,69bd8f10a8f512f11cc5e15b1fb177a46395c93f6553fc...,Artists in Australia,Unsubscribed,2014,10,4
1,10/04/2014 9:40,5e8ce7d6a2fed0e786f994a4deb38ca9eb971120a86e4a...,Artists in Australia,Active,2014,10,4

In [26]:
q2='''
select count ("SubscriberID"),"ListID"
from data
group by "ListID"
'''
Q(q2,db=db_connection)

    count ("SubscriberID")                       ListID
0                     3589         Artists in Australia
1                     2089                  Balkan News
2                     1977             Columbian Comedy
3                    15511           Dog Walkers Weekly
4                    11633           Epicurean Delights
5                     1285         Fishing with Friends
6                     7816       Gardening and Greenery
7                     2814           Hobbies for Profit
8                    20617        Iguana Lovers Monthly
9                      131  Jalopeno Recipe of the Week
10                    1498             Kyoto Siteseeing
11                    3255                Llama Keepers
12                   19505               Monkey Madness
13                    7189              Nautical Novels
14                     968      Obscure Fact of the Day
15                     999            Planets and Stars
16                    4556          Quesadilla Recipies
17                     771              Radical Reading
18                    2348   Shopping Bargin of the Day
19                   20470   Train Trips in the Ukraine
20                   20180              Underground Art
21                     858             Very Funky Finds
22                    5089            Xtraordinarly GR8
23                   34007             Your Health Tips

In [67]:
q3='''
select "year","CurrentStatus","ListID","SubscriberID"
from data
where
("CurrentStatus" = "Active" and year = '2015') and
 ("CurrentStatus" != "Active" and year != '2015')
order by "SubscriberID"
'''
Q(q3,db=db_connection)

Empty DataFrame
Columns: [year, CurrentStatus, ListID, SubscriberID]
Index: []